body {
  font-family: 'Montserrat', sans-serif;
}

#menu {
  background-color: #2c3e50;
  height: 80px;
}
#menu h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 80px;
  margin: 0;
}
#menu .header-button {
  line-height: 80px;
}
#menu button {
  background-color: transparent;
}
#menu button > span {
  color: #888888;
}
#menu nav {
  float: right;
}
#menu nav ul li a {
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  display: inline;
  line-height: 80px;
}

#hero {
  background-color: #1abc9c;
}
.tb-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}
#hero .hero-copy {
  text-align: center;
}
#hero img {
  width: 20rem;
}
#hero h1 {
  color: #fff;
  font-weight: 700;
}
.star-divisor {
  color: #fff;
  height: 40px;
}
.star-divisor .rule {
  display: inline-block;
  height: 0.2rem;
  width: 10rem;
  background-color: #fff;
  line-height: 40px;
  vertical-align: middle;
}
.star-divisor .glyphicon-star {
  width: 5rem;
  font-size: 3rem;
  line-height: 40px;
  vertical-align: middle;
}
#hero h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

#portfolio {
  background-color: #fff;
}
#portfolio .portfolio-copy {
  text-align: center;
}
#portfolio h2 {
  font-weight: 600;
}
#portfolio .star-divisor {
  color: #2c3e50;
}
#portfolio .star-divisor .rule {
  background-color: #2c3e50;
}
#portfolio img {
  width: 100%;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#about {
  background-color: #1abc9c;
  height: 640px;
}

#contact {
  background-color: #fff;
  height: 560px;
}

#info {
  background-color: #3a546d;
  height: 480px;
}

#copyright {
  background-color: #2c3e50;
  height: 80px;
}

@media screen and (max-width: 767px) {
  #menu h1 {
    font-size: 1.6rem;
  }

  #hero h1 {
    font-size: 2.8rem;
  }
  .star-divisor .rule {
    width: 8rem;
  }
  .star-divisor .glyphicon-star {
    font-size: 2.5rem;
  }
  #hero h3 {
    font-size: 1.4rem;
  }

  #portfolio h2 {
    font-size: 2rem;
  }
}
