.header-title {
  height: 50px;
  background-color: #red;
}

#menu .container {
  background-color: #2c3e50;
  height: 80px;
}

#hero .container {
  background-color: #1abc9c;
  height: 480px;
}

#portfolio .container {
  background-color: #fff;
  height: 2400px;
}

#about .container {
  background-color: #1abc9c;
  height: 640px;
}

#contact .container {
  background-color: #fff;
  height: 560px;
}

#info .container {
  background-color: #3a546d;
  height: 480px;
}

#copyright .container {
  background-color: #2c3e50;
  height: 80px;
}
